In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib
from scipy.optimize import curve_fit
%matplotlib inline

In [14]:
plt.rc('font', family='Comic Sans MS')
sznela = pd.read_csv("Sznela.csv", sep=',\t', engine='python')
malus = pd.read_csv("Malus.csv", sep=',\t',engine='python')
bry≈õ = 56.25
granica_Nalkowskiej = 44

In [15]:
malus

   tetha  I_z[mA]  |z|[mA]
0      0   0.9000    1.000
1     15   0.8200    1.000
2     30   0.6200    1.000
3     45   0.4000    1.000
4     60   0.1800    0.300
5     75   0.0430    0.100
6     90   0.0014    0.003

In [16]:
sznela

   alpha  beta
0     10   6.0
1     20  13.0
2     30  19.5
3     40  25.0
4     50  31.0
5     60  35.0
6     70  38.5
7     80  40.0

SyntaxError: invalid syntax (<ipython-input-10-eae5a41afd95>, line 1)