In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib
from scipy.optimize import curve_fit
%matplotlib inline

In [6]:
plt.rc('font', family='Comic Sans MS')
sznela = pd.read_csv("Sznela.csv", sep=',\t', engine='python')
malus = pd.read_csv("Malus.csv", sep=',\t',engine='python')
bryś = 56.25
granica_Nalkowskiej = 44

In [3]:
ls

bryś.gnumeric  c30.pdf    Szablon.pdf  Sznela.csv
Bryś.ipynb     Malus.csv  Szablon.tex

In [4]:
more Malus.csv

In [7]:
malus

   tetha  I_z[mA] |z|[mA],
0      0   0.9000       1,
1     15   0.8200       1,
2     30   0.6200       1,
3     45   0.4000       1,
4     60   0.1800     0.3,
5     75   0.0430     0.1,
6     90   0.0014   0.003,